
.header{
    position: fixed;
}

.spacex__logo {
    width: 23%;
    height: 23%;
    margin-top: -4.5%;
    margin-left: 2%;
}

.Routes {
    margin-left: 300px;
    margin-top: -7%;
}

li {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
}
