
.header{
    position: fixed;
}

.spacex__logo {

    fill: white;
    height: 42px;
    width: 269px;
    margin-top: 24px;
    margin-left: 45px;
}

.Routes {
    margin-left: 270px;
    margin-top: -25px;
}

li {
    display: inline;
    padding: 13px;
    white-space: nowrap;
    font-size: 14px;
}

li a{
    color: white;
    text-decoration: none;
}