.header {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

.spacex__logo {
    fill: white;
    height: 26px;
    width: 210px;
}

.routes {
    margin-left: 244px;
    margin-top: -20px;
}

.routes li {
    display: inline;
    padding: 14px;
    font-size: 14px;
}

.routes a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}


.routes a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo a:after {
    content: none;
}

.logo a {
    display: inline-block;
    height: 26px;
    width: 210px;
    margin-top: 32px;
    margin-left: 50px;
}