.background_image{
    
    width: 50%;
    height: 50%;
    
}

/* 
.flight-test {
    text-transform: uppercase;
    visibility: inherit;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.animate_shadowed {
    visibility: inherit;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
} */
