.app {
    animation: fade ease-in-out 1s;
}

@keyframes fade {
    20% {
        filter: brightness(0%);
    }
    80% {
        filter: brightness(60%);
    }
    100% {
        filter: brightness(100%);
    }
}