@font-face {
  font-family: "D-DIN";
  src: url("./fonts/D-DIN.woff2");
}

@font-face {
  font-family: "D-DIN-Bold";
  src: url("./fonts/D-DIN-Bold.woff2");
}

body {
  font-family: D-DIN-Bold, monospace;
  margin: 0;
  padding: 0;
}

